@font-face {
  font-family: 'ProximaNova'; 
  src: url('fonts/proximanova-reg-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova'; 
  src: url('fonts/proxima-nova-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova'; 
  src: url('fonts/proximanova-xbold-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #542749;
}

.page-wrapper {
  margin: 0 auto;
  min-width: 1200px;
  max-width: 1920px;
  box-shadow: 0 -10px 30px 10px gray;
}

.block-top {
  box-sizing: border-box;
  margin: 0 auto;
  background-image: url(img/top.jpg);
  background-position: center center;
  background-size: cover;
}

.block-top__container {
  box-sizing: border-box;
  width: 1200px;
  min-height: 980px;
  margin: 0 auto;
  padding-top: 34px;
  padding-left: 10px;
  padding-right: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .page-wrapper {
    margin: 0 auto;
    width: 768px;
    min-width: 768px;
  }
  
  .block-top__container {
    width: 768px;
  }
  
  .flex {
    width: 768px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  
  .block-top {
    background-image: url(img/top.jpg);
    background-repeat: no-repeat;
    background-position: -1800px center;
  }
}

.flex__logo {
  margin-left: 64px;
}

.left {
  margin-bottom: 60px;
}

.flex__date {
  margin-left: 64px;
}

.flex__title {
  margin-top: 35px;
  margin-bottom: 0;
}

.block-top__flex {
  margin-bottom: 40px;
}

.logo {
  width: 347px;
  height: 62px;
  background-image: url(img/logo-lectorium.png)
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 408px;
  height: 90px;
  font-size: 18px;
  font-weight: 600;
  color: #66b045;
}

@media (max-width: 768px) {
  .contacts {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 24px;
  }
  
  .block-top__flex {
    margin-bottom: 80px;
  }
}

.contacts__phone {
  position: relative;
  padding-left: 18px;
}

.contacts__phone a{
  text-decoration: none;
}

.contacts__phone::before {
  position: absolute;
  content: "";
  left: -2px;
  top: 3px;
  width: 15px;
  height: 15px;
  background-image: url(img/service/phone.png);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.contacts__email {
  position: relative;
  padding-left: 18px;
  text-decoration: underline;
}

.contacts__email::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 3px;
  width: 15px;
  height: 15px;
  background-image: url(img/service/envelope.png);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.contacts__address {
  position: relative;
  padding-left: 18px;
  color: #66b045;
}

.green {
  color: #66b045;
}

.contacts__address::before {
  position: absolute;
  content: "";
  left: -6px;
  top: 2px;
  width: 25px;
  height: 20px;
  background-image: url(img/service/metro.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: cover;
}

.violet{
  color: #542749;
}

.date {
  width: 230px;
  color: #66b045;
  text-transform: uppercase;
}

.date__number {
  margin-top: 5px;
  font-size: 83px;
  line-height: 60px;
  font-weight: 700;
  margin-right: 10px;
  margin-left: -5px;
  float: left;
}

.date__month {
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
}

.date__time {
  display: block;
  font-size: 26px;
  line-height: 36px;
}
.date__note {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #66b045;
}

.title {
  padding: 0;
  font-size: 98px;
  line-height: 105px;
  font-weight: 800;
  text-transform: uppercase;
}

.small {
  display: block;
  font-size: 38px;
  line-height: 47px;
  font-weight: 600;
}

.play {
  display: block;
  width: 118px;
  height: 118px;
  background-color: #542749;
  background-image: url(img/service/triangle.png);
  background-repeat: no-repeat;
  background-position: 40px center;
  border-radius: 50%;
  border: 0;
}

.play:hover {
  color: #2f1042;
  background-color: #fff602;
}

.play:active {
  background-color: #fbbc05;
}

.flex__play {
  margin-top: 30px;
  margin-left: 64px;
}

.form {
  box-sizing: border-box;
  margin-right: -10px;
  width: 434px;
  height: 644px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: rgba(44, 76, 101, 0.4);
}

.form__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 33px;
  color: #fff;
  text-align: center;
}

.form__title b {
  display: block;
  font-size: 41px;
  font-weight: 600;
  text-transform: uppercase;
}

.form__input {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 18px;
  color: #9daab5;
}

.form__switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 3px;
  width: 314px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 25px;
}

.form__radio {
  display: none;
}

.form__label {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 10px;
  width: 49%;
  height: 42px;
  padding-left: 60px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 25px;
}

#radio-1:checked ~ .form__switcher label[for=radio-1],
#radio-2:checked ~ .form__switcher label[for=radio-2] {
  color: #839fb1;
  background-color: #ffffff;
}

#radio-1:checked ~ .form__switcher label[for=radio-1] {
  background-image: url(img/service/hat.png);
  background-repeat: no-repeat;
  background-position: 15px center;
}

#radio-2:checked ~ .form__switcher label[for=radio-2] {
  background-image: url(img/service/play.png);
  background-repeat: no-repeat;
  background-position: 15px center;
}

.form__checkbox-label {
  position: relative;
  display: block;
  margin-top: 28px;
  margin-bottom: 25px;
  padding-left: 70px;
  padding-right: 40px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}


.form__checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 34px;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  box-shadow:
  0 0 0 2px rgba(44, 76, 101, 0.4),
  0 0 0 3px #ffffff;
}

.form__checkbox {
  display: none;
}

.form__checkbox:checked + .form__checkbox-label::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 36px;
  width: 27px;
  height: 16px;
  border-left: 5px solid #66b045;
  border-bottom: 5px solid #66b045;
  transform: rotate(-45deg);
}

.button {
  box-sizing: border-box;
  width: 321px;
  height: 64px;
  font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #542749;
  border: 0;
}

.button:hover {
  color: #2f1042;
  background-color: #fff602;
  border-bottom: 6px solid #8f6d1d;
}


.button:active {
  background-color: #fbbc05;
  border-bottom: 0;
}

.button--transparent {
  color: #542749;
  background-color: #f3ebf5;
  border: 2px solid #542749;
}


.form__seats {
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.social {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.social__title {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 12px;
  color: #426176;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .social__title {
    color: #ffffff;
  }
}

.social__item{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social__item--vk {
  background-image: url(img/social/vk.png);
}

.social__item--fb {
  background-image: url(img/social/fb.png);
}

.social__item--google {
  background-image: url(img/social/google.png);
}

.social__item--twitter {
  background-image: url(img/social/twitter.png);
}

.social__item--ok {
  background-image: url(img/social/ok.png);
}

/* ~~~~~~~ next block ~~~~~~~~ */

.block-what {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: -2px;
  margin-bottom: -2px;
}

.block-what__wrapper {
  background-image: 
    linear-gradient(#d2cad5, #d2cad5), 
    linear-gradient(#d2cad5, #d2cad5);
  background-size: 100% 2px, 100% 2px;
  background-position: 999px 269px, -999px 620px;
  background-repeat: no-repeat;
}

.cell {
  display: block;
  box-sizing: border-box;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 40px;
  padding-bottom: 28px;
  width: 100%;
  min-height: 270px;
  background-color: white;
  border: 1px solid #d2cad5;
  overflow-x: auto;
}

.cell--bg-1 {
  background-color: #fbf9fc;
}

.cell--bg-2 {
  background-color: #f5f0f7;
}

.cell__title {
  padding: 0;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.cell__number {
  display: block;
  margin-bottom: 8px;
  color: #66b045;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.cell__text {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}

.seats {
  display: block;
  padding-top: 40px;
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: 600;
  color: #66b045;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .cell:nth-child(2),
  .cell:nth-child(10) {
    display: none;
  }
}

@media (min-width: 768px) {
  .cell {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .block-what {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  
  .cell {
    width: 340px;
  }
  
  .cell:nth-child(1),
  .cell:nth-child(9) {
    width: 680px;
  }
  
  .cell:nth-child(9),
  .cell:nth-child(10) {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 144px;
  }
  
  .cell:nth-child(9) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .seats {
    padding-top: 0;
    padding-left: 40px;
  }
}

a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* ~~~~~~~ next block ~~~~~~~~ */

.block-if {
  display: flex;
  color: #ffffff;
}

.block-if__left {
  width: 50%;
  min-height: 750px;
  background-image: url(img/women.jpg);
  background-repeat: no-repeat;
}

.block-if__right {
  width: 50%;
  min-height: 750px;
  background-image: url(img/women-2.jpg);
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .block-if__left {
    display: none;
  }
  
  .block-if__right {
    width: 100%;
  }
}

.block-if__right-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 44px;
  height: 100%;
  background-color: rgba(154, 166, 175, .9);
}

.block-if__title {
  padding: 0;
  margin: 0;
  width: 400px;
  font-size: 48px;
  font-weight: 800;
}

.block-if__item {
  display: flex;
  align-items: center;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.block-if__item span {
  flex-shrink: 0;
  width: 125px;
  height: 125px;
  margin-right: 50px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.icon {
  background-repeat: no-repeat;
  background-position: center center;
}

.icon--one {
  background-image: url(img/service/icon-one.svg);
  background-size: auto 72px;
}

.icon--two {
  background-image: url(img/service/icon-two.svg);
  background-size:  auto 82px;
}

.icon--three {
  background-image: url(img/service/icon-three.svg);
  background-size: auto 69px;
}

.block-if__item p {
  padding: 0;
  margin: 0;
}

/* ~~~~~~~ next block ~~~~~~~~ */

.block-intensive {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  width: 1200px;
  min-height: 517px;
}

.block-intensive__wrapper {
  background-image: linear-gradient(to right, #dfdbe6 50%, #f3ebf5 50%);
}

.block-intensive__left {
  position: relative;
  width: 25%;
  background-color: #dfdbe6;
}

.block-intensive__left::after {
  content: "";
  position: absolute;
  width: 225px;
  height: 438px;
  margin-top: 140px;
  margin-left: 20px;
  background-image: url(img/people.png);
}

@media (max-width: 768px) {
  .block-intensive {
    width: 768px;
  }
  
  .block-intensive__left {
    display: none;
  }
  
  .block-intensive__left::after {
    background-image: none;
  }
}

.block-intensive__right {
  width: 75%;
  padding-top: 50px;
  padding-left: 38px;
  padding-bottom: 36px;
  background-color: #f3ebf5;
}

.block-intensive__text-block {
/*  width: 700px;*/
}

.block-intensive__text-block h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 800;
}

.block-intensive__text {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}

.block-intensive__text--small {
  font-size: 18px;
}

.block-intensive__dates {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 882px;
  margin-top: 48px;
  margin-bottom: 48px;
  padding-top: 25px;
  padding-right: 10px;
  border-top: 1px solid #66b045;
}

@media (max-width: 768px) {
  .block-intensive__dates {
    flex-direction: column;
    width: 250px;
  }
  
  .date {
    margin-bottom: 30px;
  }
}

.block-intensive__more {
  display: flex;
}

.block-intensive__more p {
  margin: 0;
  margin-left: 50px;
  padding: 0;
}

/* ~~~~~~~ next block ~~~~~~~~ */

.footer {
  width: 100%;
  background-color: #542749;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer__container {
    width: 768px;
  }
}

.copyright {
  margin: 0;
}

.policy {
  color: #ffffff;
}